<div>
    <ul style="list-style:none outside none;">
        <li>
          <%= link_to "Cadastrar Orgãos", frequencia_orgaos_path %>
        </li>
        <li>
          <%= link_to "Cadastrar Setores", frequencia_setores_path %>
        </li>
        <li>
          <%= link_to "Cadastrar Profissões", frequencia_profissoes_path %>
        </li>
        <li>
          <%= link_to "Cadastrar Justificativas", frequencia_justificativas_path %>
        </li>
        <li>
          <%= link_to "Lista Frequência", frequencia_frequencias_path%>
        </li>
    </ul>
</div>