<div style=" width: 100%; float: left; padding: 5px; border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; margin: 0">
<table class="tb_relatorio" align="center">

<% unless @obj_ponto.hash_nulo?  %>
  <tr>
    <td><b>Data</b></td>
    <td><b>Funcionário</b></td>
    <td><b>Matricula</b></td>
    <% for i in (1..@obj_ponto.quant_horas) %>
    <td><b>Hora <%= i %></b></td>
    <% end %>
    <td><b>Horas Trabalhadas</b></td>
  </tr>
    <% @obj_ponto.hash_final.each do |ponto| %>
      <tr>
         <td><%= ponto[:data].blank? ? '-' : ponto[:data].strftime("%d/%m/%Y") %></td>
         <td><%= @user.nome.nil?  ? '-' : @user.nome if !@user.nil? %></td>
         <td><%= @user.matricula.nil? ? '-' : @user.matricula if !@user.nil? %></td>
         <% for i in (1..@obj_ponto.quant_horas) %>
            <td><%= ponto[("hora#{i}").to_sym].blank? ? '-' : ponto[("hora#{i}").to_sym] %></td>
         <% end %>
         <td>
            <%= meu_valor(ponto,@obj_ponto.quant_horas) %>
         </td>
      </tr>
    <% end %>
<% else %>
    <td colspan="<%= @obj_ponto.quant_horas+4 %>">nenhum dado encontrado</td>
<% end %>
  <tr>
    <td colspan="<%= @obj_ponto.quant_horas+4 %>"><strong>Total de dias últeis: </strong><%= @obj_ponto.hash_nulo? ? 0 : @total %></td>
  </tr>
</table>
</div>