<%= form_for(@fichario_origem) do |f| %>
  <% if @fichario_origem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fichario_origem.errors.count, "erro") %> Origem não pode ser salvo:</h2>

      <ul>
      <% @fichario_origem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao, "Descrição" %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
