<%= form_for(@fichario_assunto) do |f| %>
  <% if @fichario_assunto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fichario_assunto.errors.count, "error") %> prohibited this fichario_assunto from being saved:</h2>

      <ul>
      <% @fichario_assunto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
