<table class="grid">
  <tr class="grid_title">
    <td colspan="4">Lista de assuntos</td>
  </tr>
  <tr>
    <th class="grid_label center">Descricao</th>
    <th class="grid_label center" colspan="3">Ações</th>
  </tr>

<% @fichario_assuntos.each do |fichario_assunto| %>
  <tr class="grid_value">
    <td><%= fichario_assunto.descricao %></td>
    <td><%= link_to image_tag("/images/icons/lupa.png",   :title => 'Mostrar'), fichario_assunto %></td>
    <td><%= link_to image_tag("/images/icons/editar.png", :title => 'Editar'), edit_fichario_assunto_path(fichario_assunto) %></td>
    <td><%= link_to image_tag("/images/icons/delete.png", :title => 'Apagar'), fichario_assunto, :confirm => 'Deseja realmente apagar?', :method => :delete %></td>
  </tr>
<% end %>
  <tr>
    <td class="grid_footer" colspan="4"><%= raw (@fichario_assuntos.count >= 5)? will_paginate( @fichario_assuntos, :next_label => "Próximo >", :previous_label => "< Anterior") : "&nbsp;" %></td>
  </tr>
</table>

<br />

<%= link_to 'Novo Assunto', new_fichario_assunto_path %>
