<h1>Listing origens</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @origens.each do |origem| %>
  <tr>
    <td><%= origem.descricao %></td>
    <td><%= link_to 'Show', origem %></td>
    <td><%= link_to 'Edit', edit_origem_path(origem) %></td>
    <td><%= link_to 'Destroy', origem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Origem', new_origem_path %>
