<%= form_for(@frequencia_justificada) do |f| %>
  <% if @frequencia_justificada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@frequencia_justificada.errors.count, "erro") %> Justificar Falta não pôde ser salvo:</h2>

      <ul>
      <% @frequencia_justificada.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :matricula, 'Funcionário: ' %>
    <%= f.collection_select(:matricula, User.all, :matricula, :nome, :prompt => 'Selecionar') %><br />
  </div>

  <div class="field">
    <%= f.label :data, 'Data: ' %>
    <%= f.date_select :data, :start_year => Date.current.year, :discard_year => true %><br />
  </div>

  <div class="field">
    <%= f.label :justificativa_id, 'Motivo da Falta: ' %>
    <%= f.collection_select(:justificativa_id, Frequencia::Justificativa.all, :id, :descricao, :prompt => 'Selecionar') %><br />
  </div>

  <div class="actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
