<h1>Fichário::Index</h1>

<%= link_to "home", fichario_index_index_path %><br />
<%= link_to "fichas", fichario_fichas_path %><br />
<%= link_to "assuntos", fichario_assuntos_path %><br />
<%= link_to "origens", fichario_origens_path %><br />
<%= link_to "andamentos", fichario_andamentos_path %><br />