<h1>Fichário::Index</h1>

<%= link_to "Home", fichario_index_index_path %><br />
<%= link_to "Fichas", fichario_fichas_path %><br />
<%= link_to "Andamentos", fichario_andamento_fichas_path %><br />
<%= link_to "Assuntos", fichario_assuntos_path %><br />
<%= link_to "Origens", fichario_origens_path %><br />
<%= link_to "Tipos de andamentos", fichario_andamentos_path %><br />
