<%= link_to image_tag('/images/icons/add.png')+' Novo usuário', new_usuario_registration_path %><br /><br />

<table class="grid">
  <tr class="grid_title">
    <td colspan="7">Lista de usuários</td>
  </tr>
  <tr>
    <td class="grid_label center">ID</td>
    <td class="grid_label center">Nome</td>
    <td class="grid_label center">Matricula</td>
    <td class="grid_label center">Email</td>
    <td class="grid_label center">Setor</td>
    <td class="grid_label center">Profissão</td>
    <td class="grid_label center">Ações</td>
  </tr>
<% @usuarios.each do |usuario| %>

  <tr>
    <td class="grid_value center"><%= usuario.id %></td>
    <td class="grid_value center"><%= usuario.nome %></td>
    <td class="grid_value center"><%= usuario.matricula %></td>
    <td class="grid_value center"><%= usuario.email %></td>
    <td class="grid_value center"><%= usuario.setor.setor  %></td>
    <td class="grid_value center"><%= usuario.profissao.profissao %></td>
    <td class="grid_action" style="text-align:center;">
      <%= link_to image_tag("/images/icons/delete.png", :title => 'Apagar'), "/usuarios/#{usuario.id}/destroy", :confirm => 'Deseja realmente apagar?', :method => :delete %>
    </td>
  </tr>
<% end %>
 <% if paginacao = will_paginate(@usuarios, :previous_label => "< Anterior", :next_label => "Próximo") %>
  <tr>
    <td class="grid_action center" colspan="7" style="text-align: center;">
      <%= paginacao %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td class="grid_footer" colspan="7"><%= raw "<strong>Total:</strong> #{@total}" %></td>
  </tr>
</table>
