<%= link_to image_tag('/images/icons/add.png')+' Novo Setor', new_frequencia_setor_path %><table class="grid"><br /><br />

  <tr class="grid_title">
    <td colspan="5">Lista de setores</td>
  </tr>
  <tr>
    <td class="grid_label center">ID</td>
    <td class="grid_label center">Orgão</td>
    <td class="grid_label center">Setor</td>
    <td class="grid_label center">Descrição</td>
    <td class="grid_label center">Ação</td>
  </tr>

<% @frequencia_setores.each do |frequencia_setor| %>
  <tr>
    <td class="grid_value"><%= frequencia_setor.id %></td>
    <td class="grid_value"><%= frequencia_setor.orgao.orgao %></td>
    <td class="grid_value"><%= frequencia_setor.setor %></td>
    <td class="grid_value"><%= frequencia_setor.descricao %></td>
    <td class="grid_action">
        <%= link_to image_tag("/images/icons/lupa.png",   :title => 'Mostrar'), frequencia_setor %>
        <%= link_to image_tag("/images/icons/editar.png", :title => 'Editar'), edit_frequencia_setor_path(frequencia_setor) %>
        <%= link_to image_tag("/images/icons/delete.png", :title => 'Apagar'), frequencia_setor, :confirm => 'Você tem certeza?', :method => :delete %>
    </td>
  </tr>
<% end %>
 <% if paginacao = will_paginate(@frequencia_setores, :previous_label => "< Anterior", :next_label => "Próximo") %>
  <tr>
    <td class="grid_action center" colspan="5" style="text-align: center;">
      <%= paginacao %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td class="grid_footer" colspan="5"><%= raw "<strong>Total:</strong> #{@total}" %></td>
  </tr>
</table>