<p>
  <b>Orgão:</b>
  <%= @frequencia_setor.orgao.orgao %>
</p>

<p>
  <b>Setor:</b>
  <%= @frequencia_setor.setor %>
</p>

<p>
  <b>Descrição:</b>
  <%= @frequencia_setor.descricao %>
</p>


<%= link_to image_tag('/images/icons/editar.png')+' Editar', edit_frequencia_setor_path(@frequencia_setor) %> |
<%= link_to image_tag('/images/icons/arrow_left.png')+' Voltar', frequencia_setores_path %>
