<%= link_to image_tag('/images/icons/add.png')+' Nova Ficha', new_fichario_ficha_path %><br /><br />

<table class="grid">
  <tr class="grid_title">
    <td colspan="12">Lista de fichas</td>
  </tr>
  <tr>
    <td class="grid_label center">ID</td>
    <td class="grid_label center">Pja</td>
    <td class="grid_label center">Interessado</td>
    <td class="grid_label center">Processo</td>
    <td class="grid_label center">Cpf</td>
    <td class="grid_label center">Entrada</td>
    <td class="grid_label center">Fone</td>
    <td class="grid_label center">Celular</td>
    <td class="grid_label center">Matrícula</td>
    <td class="grid_label center">Assunto</td>
    <td class="grid_label center">Origem</td>
    <td class="grid_label center">Ações</td>
  </tr>


<% @fichario_ficha.each do |fichario_ficha| %>
             <%     #Mascaras
				if fichario_ficha.fone
				  fone = fichario_ficha.fone
				  fone =~ /(\d{2})(\d{4})(\d{4})/
				  fone = "(#{$1}) #{$2}-#{$3}"
				end
				if fichario_ficha.celular
				  cel = fichario_ficha.celular
				  cel =~ /(\d{2})(\d{4})(\d{4})/
				  cel = "(#{$1}) #{$2}-#{$3}"
				end
             %>
  <tr>
    <td class="grid_value"><%= fichario_ficha.id %></td>
    <td class="grid_value"><%= (fichario_ficha.pja)? fichario_ficha.pja.strftime("%d/%m/%Y") : "Nulo" %></td>
    <td class="grid_value"><%= fichario_ficha.interessado %></td>
    <td class="grid_value"><%= fichario_ficha.processo %></td>
    <td class="grid_value"><%= fichario_ficha.cpf %></td>
    <td class="grid_value"><%= (fichario_ficha.entrada)? fichario_ficha.entrada.strftime("%d/%m/%Y") : "Nulo" %></td>
    <td class="grid_value"><%= fone %></td>
    <td class="grid_value"><%= cel %></td>
    <td class="grid_value"><%= fichario_ficha.matricula %></td>
    <td class="grid_value"><%= fichario_ficha.assunto.descricao %></td>
    <td class="grid_value"><%= fichario_ficha.origem.descricao %></td>
    <td class="grid_action">
        <%= link_to image_tag("/images/icons/lupa.png",   :title => 'Mostrar'), fichario_ficha %>
        <%= link_to image_tag("/images/icons/editar.png", :title => 'Editar'), edit_fichario_ficha_path(fichario_ficha) %>
        <%= link_to image_tag("/images/icons/delete.png", :title => 'Apagar'), fichario_ficha, :confirm => 'Deseja realmente apagar?', :method => :delete %>
    </td>
  </tr>
<% end %>
  <% if paginacao = will_paginate(@fichario_ficha, :previous_label => "< Anterior", :next_label => "Próximo") %>
  <tr>
    <td class="grid_action center" colspan="12" style="text-align: center;">
      <%= paginacao %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td class="grid_footer" colspan="12"><%= raw "<strong>Total:</strong> #{@total}" %></td>
  </tr>
</table>
