
<table class="grid">
  <tr class="grid_title">
    <td colspan="13">Lista de fichas</td>
  </tr>
  <tr>
    <th class="grid_label center">Pja</th>
    <th class="grid_label center">Interessado</th>
    <th class="grid_label center">Processo</th>
    <th class="grid_label center">Cpf</th>
    <th class="grid_label center">Entrada</th>
    <th class="grid_label center">Fone</th>
    <th class="grid_label center">Celular</th>
    <th class="grid_label center">Matrícula</th>
    <th class="grid_label center">Assunto</th>
    <th class="grid_label center">Origem</th>
    <th class="grid_label center" colspan="3">Ações</th>

  </tr>


<% @fichario_ficha.each do |fichario_ficha| %>
             <%     #Mascaras
				if fichario_ficha.pja
				   pja = fichario_ficha.pja.strftime("%d/%m/%Y")
				end
				if fichario_ficha.entrada
				   entrada = fichario_ficha.entrada.strftime("%d/%m/%Y")
				end
				if fichario_ficha.cpf
				  cpf = fichario_ficha.cpf
				cpf =~ /(\d{3})\.?(\d{3})\.?(\d{3})-?(\d{2})/
				  cpf = "#{$1}.#{$2}.#{$3}-#{$4}"
				end
				if fichario_ficha.fone
				  fone = fichario_ficha.fone
				  fone =~ /(\d{2})(\d{4})(\d{4})/
				  fone = "(#{$1}) #{$2}-#{$3}"
				end
				if fichario_ficha.celular
				  cel = fichario_ficha.celular
				  cel =~ /(\d{2})(\d{4})(\d{4})/
				  cel = "(#{$1}) #{$2}-#{$3}"
				end
             %>
  <tr class="grid_value">
    <td><%= pja %></td>
    <td><%= fichario_ficha.interessado %></td>
    <td><%= fichario_ficha.processo %></td>
    <td><%= cpf %></td>
    <td><%= entrada %></td>
    <td><%= fone %></td>
    <td><%= cel %></td>
    <td><%= fichario_ficha.matricula %></td>
    <td><%= fichario_ficha.assunto.descricao %></td>
    <td><%= fichario_ficha.origem.descricao %></td>
    <td><%= link_to image_tag("/images/icons/lupa.png",   :title => 'Mostrar'), fichario_ficha %></td>
    <td><%= link_to image_tag("/images/icons/editar.png", :title => 'Editar'), edit_fichario_ficha_path(fichario_ficha) %></td>
    <td><%= link_to image_tag("/images/icons/delete.png", :title => 'Apagar'), fichario_ficha, :confirm => 'Deseja realmente apagar?', :method => :delete %></td>
  </tr>
<% end %>
  <tr>
    <td class="grid_footer" colspan="13">&nbsp;</td>
  </tr>
</table>

<br />

<%= link_to 'Nova Ficha', new_fichario_ficha_path %>
