<p id="notice"><%= notice %></p>

<p>
  <b>Pja:</b>
  <%= @fichario_ficha.pja %>
</p>

<p>
  <b>Interessado:</b>
  <%= @fichario_ficha.interessado %>
</p>

<p>
  <b>Processo:</b>
  <%= @fichario_ficha.processo %>
</p>

<p>
  <b>Cpf:</b>
  <%= @fichario_ficha.cpf %>
</p>

<p>
  <b>Entrada:</b>
  <%= @fichario_ficha.entrada %>
</p>

<p>
  <b>Fone:</b>
  <%= @fichario_ficha.fone %>
</p>

<p>
  <b>Celular:</b>
  <%= @fichario_ficha.celular %>
</p>

<p>
  <b>Matricula:</b>
  <%= @fichario_ficha.matricula %>
</p>

<p>
  <b>Assunto:</b>
  <%= @fichario_ficha.assunto %>
</p>

<p>
  <b>Origens:</b>
  <%= @fichario_ficha.origens %>
</p>


<%= link_to 'Edit', edit_fichario_ficha_path(@fichario_ficha) %> |
<%= link_to 'Back', fichario_fichas_path %>
