<p id="notice"><%= notice %></p>
             <%     #Mascaras
				if @fichario_ficha.cpf
				  cpf = @fichario_ficha.cpf
				cpf =~ /(\d{3})\.?(\d{3})\.?(\d{3})-?(\d{2})/
				  cpf = "#{$1}.#{$2}.#{$3}-#{$4}"
				end
				if @fichario_ficha.fone
				  fone = @fichario_ficha.fone
				  fone =~ /(\d{2})(\d{4})(\d{4})/
				  fone = "(#{$1}) #{$2}-#{$3}"
				end
				if @fichario_ficha.celular
				  cel = @fichario_ficha.celular
				  cel =~ /(\d{2})(\d{4})(\d{4})/
				  cel = "(#{$1}) #{$2}-#{$3}"
				end
             %>
<p>
  <b>Pja:</b>
  <%= (@fichario_ficha.pja)? @fichario_ficha.pja.strftime("%d/%m/%Y") : "Nulo" %>
</p>

<p>
  <b>Interessado:</b>
  <%= @fichario_ficha.interessado %>
</p>

<p>
  <b>Processo:</b>
  <%= @fichario_ficha.processo %>
</p>

<p>
  <b>Cpf:</b>
  <%= cpf %>
</p>

<p>
  <b>Entrada:</b>
  <%= (@fichario_ficha.entrada)? @fichario_ficha.entrada.strftime("%d/%m/%Y") : "Nulo" %>
</p>

<p>
  <b>Fone:</b>
  <%= fone %>
</p>

<p>
  <b>Celular:</b>
  <%= cel %>
</p>

<p>
  <b>Matricula:</b>
  <%= @fichario_ficha.matricula %>
</p>

<p>
  <b>Assunto:</b>
  <%#= raise @fichario_ficha.inspect %>
  <%= @fichario_ficha.assunto.descricao %>
</p>

<p>
  <b>Origens:</b>
  <%= @fichario_ficha.origem.descricao %>
</p>


<%= link_to 'Editar', edit_fichario_ficha_path(@fichario_ficha) %> |
<%= link_to 'Voltar', fichario_fichas_path %>
