<%#= link_to image_tag("/images/icons/add.png", :title => "Inserir")+" Enviar Arquivo", new_frequencia_frequencia_path %> <!-- <br /><br /> -->
<table class="grid">
  <tr class="grid_title">
    <td colspan="<%= @obj_ponto.quant_horas+4 %>">Lista de frequências de <%= @datas[0].strftime("%B") +' do usuário: '+ @user.nome %></td>
  </tr>
<%= form_for(:filtro, :method => 'post', :url => {:action => 'index'}) do |f| %>

  <tr>
	<td class="grid_label center">Filtro</td>
	<td colspan="<%= @obj_ponto.quant_horas+2 %>" class="grid_action form_filter">

        <div class="input_container">
           <%= f.label :data %>
           <%= f.date_select :data,
                           :start_year => Date.current.year,
                           :end_year => 2000,
                           :order => [:day, :month, :year],
                           :prompt => { :day => 'Dia', :month => 'Mês', :year => 'Ano' }
           %>
        </div>
    </td>
    <td class="grid_action center">
	  <input type="submit" value="Filtrar" name="filter" id="filter">
    </td>
  </tr>
<% end %>
<% unless @obj_ponto.hash_nulo?  %>
  <tr>
    <td class="grid_label center">Data</td>
    <td class="grid_label center">Usuário</td>
    <td class="grid_label center">Matricula</td>
    <% for i in (1..@obj_ponto.quant_horas) %>
    <td class="grid_label center">Hora <%= i %></td>
    <% end %>
    <td class="grid_label center" style="">Horas Trabalhadas</td>
  </tr>
    <% @obj_ponto.hash_final.each do |ponto| %>
      <tr>
         <td class="grid_value center"><%= ponto[:data].blank? ? '-' : ponto[:data].strftime("%d/%m/%Y") %></td>
         <td class="grid_value center"><%= @user.nome.nil? ? '-' : @user.nome %></td>
         <td class="grid_value center"><%= @user.matricula.nil? ? '-' : @user.matricula %></td>
         <% for i in (1..@obj_ponto.quant_horas) %>
            <td class="grid_value center"><%= ponto[("hora#{i}").to_sym].blank? ? '-' : ponto[("hora#{i}").to_sym] %></td>
         <% end %>
         <td class="grid_value center">
            <%= meu_valor(ponto,@obj_ponto.quant_horas) %>
         </td>
      </tr>
    <% end %>
<% else %>
    <td class="grid_value center" colspan="<%= @obj_ponto.quant_horas+4 %>">nenhum dado encontrado</td>
<% end %>
  <tr>
    <td class="grid_footer" colspan="<%= @obj_ponto.quant_horas+4 %>"><strong>Total: </strong><%= @obj_ponto.hash_nulo? ? 0 : @total %></td>
  </tr>
</table>