  <%= link_to image_tag("/images/icons/add.png", :title => "Inserir")+" Enviar Arquivo", new_frequencia_frequencia_path %><br /><br />
<table class="grid">
  <tr class="grid_title">
    <td colspan="13">Lista de Frequências de <%= current_usuario.nome %></td>
  </tr>
  <% form_for(:filtro, :method => 'post', :url => {:action => 'index'}) do |f| %>

  <tr>
	    <td class="grid_label center">Filtro</td>
	    <td colspan="11" class="grid_action form_filter">

        <div class="input_container">
          <%= f.label :data %>
          <%= f.date_select :data,
                          :start_year => Date.current.year,
                          :end_year => 2000,
                          :order => [:day, :month, :year],
                          :prompt => { :day => 'Escolha um dia', :month => 'Escolha um mês', :year => 'Escolha um ano' }
          %>
        </div>
  </td>
	    <td class="grid_action center">
		<input type="submit" value="Filtrar" name="filter" id="filter">	    </td>
	</tr>
  <% end %>
  <tr>
    <td class="grid_label center">Data</td>
    <td class="grid_label center">Usuário</td>
    <td class="grid_label center">Setor</td>
    <td class="grid_label center">Profissão</td>
    <td class="grid_label center">Matricula</td>
    <td class="grid_label center">Hora 1</td>
    <td class="grid_label center">Hora 2</td>
    <td class="grid_label center">Hora 3</td>
    <td class="grid_label center">Hora 4</td>
    <td class="grid_label center">Hora 5</td>
    <td class="grid_label center">Hora 6</td>
    <td class="grid_label center">Total Geral</td>
    <td class="grid_label center">Ações</td>
  </tr>
<% @frequencia_frequencias.each do |ponto| %>
  <tr>
    <% usuario = Usuario.find_by_matricula(ponto[:matricula]) %>
     <td class="grid_value center"><%= ponto[:data].to_s_br %></td>
     <td class="grid_value center"><%= (usuario.nil?)? '-' : usuario.nome %></td>
     <td class="grid_value center"><%= (usuario.nil?)? '-' : usuario.setor.setor %></td>
     <td class="grid_value center"><%= (usuario.nil?)? '-' : usuario.profissao.profissao %></td>
     <td class="grid_value center"><%= ponto[:matricula] %></td>
     <td class="grid_value center"><%= (ponto[:hora1])? ponto[:hora1].strftime("%H:%M:%S") : '-' %></td>
     <td class="grid_value center"><%= (ponto[:hora2])? ponto[:hora2].strftime("%H:%M:%S") : '-' %></td>
     <td class="grid_value center"><%= (ponto[:hora3])? ponto[:hora3].strftime("%H:%M:%S") : '-' %></td>
     <td class="grid_value center"><%= (ponto[:hora4])? ponto[:hora4].strftime("%H:%M:%S") : '-' %></td>
     <td class="grid_value center"><%= (ponto[:hora5])? ponto[:hora5].strftime("%H:%M:%S") : '-' %></td>
     <td class="grid_value center"><%= (ponto[:hora6])? ponto[:hora6].strftime("%H:%M:%S") : '-' %></td>
     <td class="grid_value center"><%= (ponto[:total_geral])? ponto[:total_geral].strftime("%H:%M:%S") : 'PONTO INCONSISTENTE' %></td>
     <td class="grid_action center">
        <%#= link_to image_tag("/images/icons/lupa.png",   :title => 'Mostrar'), ponto %>
        <%#= link_to image_tag("/images/icons/delete.png", :title => 'Apagar'), ponto, :confirm => 'Você tem certeza?', :method => :delete %>
    </td>
  </tr>
<% end %>
  <tr>
    <td class="grid_footer" colspan="13"><%= raw "<strong>Total:</strong> #{@total}" %></td>
  </tr>
</table>