<!-- Designer: Fernando Lopes -->
<!-- Programador> Fernando Lopes -->
<!-- Email: fernandolopes.s@gmail.com -->
<!-- Twitter: fernandolopes11 -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Intranet</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag %>
</head>
<body>
    <div id="container">
        <div id="header">

        </div> <!-- header -->
        <div class="clear"></div>

        <div id="barra_tarefas">

          <!-- Barra de menu begin -->
           <%= render :template => "menu/menu" %>
          <!-- Barra de menu end -->


        </div> <!-- barra_tarefas -->
        <div class="clear"></div>

        <div id="main">
          <% if notice or alert %>
            <div class="system_message">
                <% if notice %><div class="success_message"><%= notice %></div> <% end %>
                <% if alert %><div class="error_message"><%= alert %></div> <% end %>
            </div>
          <% end %>
          <% if params.has_key?("flash") %>
            <div class="system_message">
                <div class="error_message"><%= params["flash"] %></div>
            </div>
          <% end %>
        <%= yield %>

        </div> <!-- main -->

        <div id="footer">
                    Copyright <%= Time.now.strftime("%Y") %> PGM - Procuradoria Geral do Municipio - Fortaleza, todos os direitos reservados
        </div> <!-- footer -->

    </div> <!-- container -->

</body>
</html>
